
/* Ensure no folderpane items visible in glodaSearch tab; don't set a collapsed
   attribute as that is reserved for the user's preference. */
#mailContent[tabmodetype="glodaSearch"] #folderPaneHeader,
#mailContent[tabmodetype="glodaSearch"] #folderPane-toolbar {
  display: none !important;
  visibility: collapse !important;
}

/* Various calls against dom nodes/objects fail on layout change if parent is hidden. */
#singlemessage[hidden="true"] {
  display: -moz-box;
  visibility: collapse;
}

#mailContent[layout="vertical"]   #threadPaneBox[reverse="true"],
#mailContent[layout="widethread"] #messengerBox[reverse="true"],
#mailContent[layout="stacked"]    #folderPaneBox[reverse="true"] {
  -moz-box-direction: reverse;
}

/* The folderTree is last in stacked, reversed view. */
#mailContent[layout="stacked"][tabmodetype="folder"] #folderPaneBox[reverse="true"] > #folderTree {
  -moz-box-ordinal-group: 0;
}
